### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

In [4]:
lst = [34, 54, 67, 89, 11, 43, 94]
n =lst.pop(4)
print("List After removing element at index 4", lst)
lst.insert(2,n)
print("List after Adding element at index 2", lst)
lst.append(n)
print("List after Adding element at last", lst)

List After removing element at index 4 [34, 54, 67, 89, 43, 94]
List after Adding element at index 2 [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last [34, 54, 11, 67, 89, 43, 94, 11]

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

## Exercise Question 2: Given a Python list you should be able to display Python list in the following order

In [5]:
lst =[100, 200, 300, 400, 500]
lst.sort(reverse=True)
print(lst)

[500, 400, 300, 200, 100]

The Original List is: [100, 200, 300, 400, 500]
The Expected result is:  [500, 400, 300, 200, 100]

## Exercise Question 3: Concatenate (join) two lists in the following order

In [7]:
list1 =['Hello ', 'take ']
list2 =['Dear', 'Sir']
print(list1+list2)
#another way of doing:
list2[:0] =list1
print(list2)
#anther way of doing:
list1 =['Hello ', 'take ']
list2 =['Dear', 'Sir']
list1.extend(list2)
print(list1)

['Hello ', 'take ', 'Dear', 'Sir']
['Hello ', 'take ', 'Dear', 'Sir']
['Hello ', 'take ', 'Dear', 'Sir']

## Exercise Question 4: Add item 7000 after 6000 in the following Python List

In [1]:
lst = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
n=lst.pop(2)
m=n.pop(2)
m.append(7000)
n.insert(2,m)
lst.insert(2,n)
print(lst)
#another way of doing
lst=[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
lst[2][2]=[5000,6000,7000]
print(lst)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Exercise Question 5: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the

The original List is: ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
The expected result is: ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [2]:
lst =['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
print(lst[2][1][2])
lt =lst[2][1][2]
lt.extend(['h','i','j'])
print(lt)
lst[2][1][2] =lt
print(lst)
#another way of doing
lst =['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
lst[2][1][2] =['f','g','h','i','j']
print(lst)

['f', 'g']
['f', 'g', 'h', 'i', 'j']
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

## Exercise Question 6: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

The original list is: [5, 10, 15, 20, 25, 50, 20]
The expected output is: [5, 10, 15, 200, 25, 50, 20]

In [1]:
lst = [5, 10, 15, 20, 25, 50, 20]
n=lst.index(20)
lst[n]=200
print(lst)

[5, 10, 15, 200, 25, 50, 20]